<head>
   <link rel="stylesheet" href="../css/footer design.css">
</head>
<footer>
  <div class="foot">
 <h2>Start Your Property<br/>
   Venture With us today</h2>
   <button>Contact Us</button>
  </div> 
  <hr/>
  <menu> 
    <div class="menuall">
    <li>Home</li>
    <li>For Renter</li>
    <li>For Buy</li>
    <li>For Sell</li>
    <div class="footicons">
      <img src="../media/facebook-circle-svgrepo-com (4).svg "alt="">
      <img src="../media/instagram-svgrepo-com (3).svg" alt="">
    </div>
    </div>
  </menu>
  <div class="last">
    <p>&copy2024 Omah</p>
  </div>
</footer>